<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Yuki Sakakima's Portfolio - Profile</title>
        <meta name="description" content="Yuki Sakakima's Portfolio">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=VT323&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/responsive.css">
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <!-- CDN -->
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    </head>
    <body>
        <header id="header">
            <div class="header-content-left">
                <a href="/"><img src="/images/icon.png" class="logo" alt="logo"></a>
                <nav>
                    <ul class="main-nav">
                        <li><a class="nav-item nav-link" href="/">Home</a></li>
                        <li><a class="nav-item nav-link" href="/profile">Profile</a></li>
                        <li><a class="nav-item nav-link" href="/works">Works</a></li>
                    </ul>
                </nav>
            </div>
            <a class="contact link" href="mailto:yuki.sakakima.work@gmail.com">&lt;Click to contact&gt;</a>
            <a class="contact-logo" href="mailto:yuki.sakakima.work@gmail.com"><span class="material-symbols-outlined">contact_mail</span></a>
        </header>
        <div id="particles-js"></div>
        <main>
            <ol class="breadcrumb">
                <li><a href="/" class="link breadcrumb-subtext">Home</a></li>
                <li class="breadcrumb-subtext">&gt;</li>
                <li>Profile</li>
            </ol>
            <div class="wrapper">
                <div class="content">
                    <h2 class="section-title">Profile</h2>
                    <div class="profile-content">
                        <img src="/images/profile-image.jpg" class="profile-image" alt="profile-image">
                        <div>
                            <p class="my-name content-border">Yuki Sakakima</p>
                            <p class="profile-introduction content-border">
                                愛知県名古屋市出身。<br>
                                学生時代より<b>作曲家</b>、<b>DJ</b>業務に従事する。2019年、更なる活動の幅を広げる為上京。<br>
                                その後、コロナウイルスの流行などを皮切りに<b>プログラミング</b>の学習を開始し、<br>
                                現在は「<a href="https://itschool-lp.logz.co.jp/" target="_blank" class="link">就労移行ITスクール</a>」でWeb系エンジニアとして就職する為、週5日通所しプログラミングに纏わる学習を継続している。<br>
                                また最近では、<a href="https://qiita.com/yukisakakima" target="_blank" class="link">Qiita</a>で毎日1記事以上、寄稿しております。
                            </p>
                            <!-- todo -->
                            <ul class="sns-contents">
                                <li>
                                    <div class="sns-contents">
                                        <a href="https://github.com/yukisakakima" target="_blank"><img class="sns-logo" src="/images/github-logo.png" alt="github-logo"></a>
                                        <a href="https://github.com/yukisakakima" target="_blank" class="link">GitHub</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="sns-contents">
                                        <a href="https://qiita.com/yukisakakima" target="_blank"><img class="sns-logo" src="/images/qiita-logo.png" alt="qiita-logo"></a>
                                        <a href="https://qiita.com/yukisakakima" target="_blank" class="link">Qitta</a>
                                    </div>
                                </li>
                                <li class="sns-contents">
                                    <a href="mailto:yuki.sakakima.work@gmail.com"><img class="sns-logo" src="/images/gmail-logo.png" alt="gmail-logo"></a>
                                    <a href="mailto:yuki.sakakima.work@gmail.com" class="link">yuki.sakakima.work@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h2 class="section-title">Skills</h2>
                    <p class="radar-introduction">1. 触った事がある。 2.使い方を大雑把に学んだ。 3.基本的な使い方にまだ漏れがあるが使用可能。 4. 基本的な使い方を把握。 5. 問題無く使用可能。</p>
                    <div>
                        <canvas id="radar"></canvas>
                    </div>
                    <h2 class="section-title">Awards</h2>
                    <div class="awards-content">
                        <p class="subtext">- Composer -</p>
                        <p>2016年度 名古屋港水族館 コンペティション 楽曲採用</p>
                        <a href="https://www.re-style.env.go.jp/dance2019/" target="_blank" class="link">2019年度 環境省主催 ダンスライブ Re-Style  CUP! 楽曲採用</a>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="wrapper">
                <p><small>Copyright &copy; 2023 Yuki Sakakima</small></p>
            </div>
        </footer>
        <div class="curzr" hidden></div>
        <script src="/js/cursor.js"></script>
        <script src="/js/particles.js"></script>
        <script src="/js/chart.js"></script>
    </body>
</html>