<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Yuki&nbsp;Sakakima's&nbsp;Portfolio&nbsp;-&nbsp;Profile</title>
        <meta name="description" content="Yuki&nbsp;Sakakima's&nbsp;Portfolio">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=VT323&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/responsive.css">
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <!-- CDN -->
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    </head>
    <body>
        <header id="header">
            <div class="header-content-left">
                <a href="/"><img src="/images/icon.png" class="logo" alt="logo"></a>
                <nav>
                    <ul class="main-nav">
                        <li><a class="nav-item nav-link" href="/">Home</a></li>
                        <li><a class="nav-item nav-link" href="/profile">Profile</a></li>
                        <li><a class="nav-item nav-link" href="/works">Works</a></li>
                    </ul>
                </nav>
            </div>
            <a class="contact link" href="mailto:yuki.sakakima.work@gmail.com">&lt;Click&nbsp;to&nbsp;contact&gt;</a>
            <a class="contact-logo" href="mailto:yuki.sakakima.work@gmail.com"><span class="material-symbols-outlined">contact_mail</span></a>
        </header>
        <div id="particles-js"></div>
        <main>
            <ol class="breadcrumb">
                <li><a href="/" class="link breadcrumb-subtext">Home</a></li>
                <li class="breadcrumb-subtext">&gt;</li>
                <li>Profile</li>
            </ol>
            <div class="wrapper">
                <div class="content">
                    <h2 class="section-title">Profile</h2>
                    <div class="profile-content">
                        <img src="/images/profile-image.jpg" class="profile-image" alt="profile-image">
                        <div>
                            <p class="my-name content-border">Yuki&nbsp;Sakakima</p>
                            <p class="profile-introduction content-border">
                                愛知県名古屋市出身。<br>
                                学生時代より<b>作曲家</b>、<b>DJ</b>業務に従事する。2019年、更なる活動の幅を広げる為上京。<br>
                                その後、コロナウイルスの流行などを皮切りに<b>プログラミング</b>の学習を開始し、<br>
                                現在は「<a href="https://itschool-lp.logz.co.jp/" target="_blank" class="link">就労移行ITスクール</a>」でWeb系エンジニアとして就職する為、週5日通所しプログラミングに纏わる学習を継続している。<br>
                                また、Qiitaでは月1記事を寄稿する事が目標。
                            </p>
                            <!-- todo -->
                            <ul class="sns-contents">
                                <li>
                                    <div class="sns-contents">
                                        <a href="https://github.com/yukisakakima" target="_blank"><img class="sns-logo" src="/images/github-logo.png" alt="github-logo"></a>
                                        <a href="https://github.com/yukisakakima" target="_blank" class="link">GitHub</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="sns-contents">
                                        <a href="https://qiita.com/yukisakakima" target="_blank"><img class="sns-logo" src="/images/qiita-logo.png" alt="qiita-logo"></a>
                                        <a href="https://qiita.com/yukisakakima" target="_blank" class="link">Qitta</a>
                                    </div>
                                </li>
                                <li class="sns-contents">
                                    <a href="mailto:yuki.sakakima.work@gmail.com"><img class="sns-logo" src="/images/gmail-logo.png" alt="gmail-logo"></a>
                                    <a href="mailto:yuki.sakakima.work@gmail.com" class="link">yuki.sakakima.work@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h2 class="section-title">Skills</h2>
                    <p class="radar-introduction">1.&nbsp;触った事がある。&nbsp;2.使い方を大雑把に学んだ。&nbsp;3.基本的な使い方にまだ漏れがあるが使用可能。&nbsp;4.&nbsp;基本的な使い方は網羅。&nbsp;5.&nbsp;問題無く使用可能。</p>
                    <div>
                        <canvas id="radar"></canvas>
                        <script>
                            var ctx = document.getElementById("radar");
                            var radar = new Chart(ctx, {
                                //グラフの種類
                                type: 'radar',
                                //データの設定
                                data: {
                                    //データ項目のラベル
                                    labels: ["HTML&CSS", "JavaScript", "Ruby", "Python", "SQL"],
                                    //データセット
                                    datasets: [{
                                        // label: "スキル分析",
                                        //背景色
                                        backgroundColor: "rgba(255,255,255,0.7)",
                                        //枠線の色
                                        borderColor: "white",
                                        //結合点の背景色
                                        pointBackgroundColor: "white",
                                        //結合点の枠線の色
                                        pointBorderColor: "#fff",
                                        //結合点の背景色（ホバ時）
                                        pointHoverBackgroundColor: "#fff",
                                        //結合点の枠線の色（ホバー時）
                                        pointHoverBorderColor: "rgba(51,255,51,1)",
                                        //結合点より外でマウスホバーを認識する範囲（ピクセル単位）
                                        hitRadius: 5,
                                        //グラフのデータ
                                        data: [3, 2, 2, 2, 2]
                                    }]
                                },
                                //オプションの設定
                                options: {
                                    // レスポンシブ指定
                                    responsive: true,
                                    maintainAspectRatio: false,
                                    scale: {
                                        ticks: {
                                            // 最小値の値を0指定
                                            beginAtZero: true,
                                            min: 0,
                                            stepSize: 1,
                                            // 最大値を指定
                                            max: 5,
                                            fontColor: "black"
                                        },
                                        pointLabels: {
                                            fontSize: 16,
                                            fontColor: "rgb(13, 203, 69)"
                                        },
                                        angleLines: {        // 軸（放射軸）
                                            color: "rgb(13, 203, 69)"
                                        },
                                        gridLines: {
                                            color: "rgb(13, 203, 69)"
                                        }
                                    },
                                    //ラベル非表示
                                    legend: {
                                        // ラベルを非表示
                                        display: false,
                                        fontSize: 10,
                                        labels: {
                                            // このフォント設定はグローバルプロパティを上書きします。
                                            fontSize: 14,
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                    <h2 class="section-title">Awards</h2>
                    <div class="awards-content">
                        <p class="subtext">-&nbsp;Composer&nbsp;-</p>
                        <p>2016年度&nbsp;名古屋港水族館&nbsp;コンペティション&nbsp;楽曲採用</p>
                        <a href="https://www.re-style.env.go.jp/dance2019/" target="_blank" class="link">2019年度&nbsp;環境省主催&nbsp;ダンスライブ&nbsp;Re-Style&nbsp;CUP!&nbsp;楽曲採用</a>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="wrapper">
                <p><small>Copyright&nbsp;&copy;&nbsp;2023&nbsp;Yuki&nbsp;Sakakima</small></p>
            </div>
        </footer>
        <div class="curzr" hidden></div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="/js/cursor.js"></script>
        <script src="/js/particles.js"></script>
    </body>
</html>