<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Yuki&nbsp;Sakakima's&nbsp;Portfolio&nbsp;-&nbsp;Works</title>
        <meta name="description" content="Yuki&nbsp;Sakakima's&nbsp;Portfolio">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=VT323&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/responsive.css">
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <!-- CDN -->
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    </head>
    <body>
        <header id="header">
            <div class="header-content-left">
                <a href="/"><img src="/images/icon.png" class="logo" alt="logo"></a>
                <nav>
                    <ul class="main-nav">
                        <li><a class="nav-item nav-link" href="/">Home</a></li>
                        <li><a class="nav-item nav-link" href="/profile">Profile</a></li>
                        <li><a class="nav-item nav-link" href="/works">Works</a></li>
                    </ul>
                </nav>
            </div>
            <a class="contact link" href="mailto:yuki.sakakima.work@gmail.com">&lt;Click&nbsp;to&nbsp;contact&gt;</a>
            <a class="contact-logo" href="mailto:yuki.sakakima.work@gmail.com"><span class="material-symbols-outlined">contact_mail</span></a>
        </header>
        <div id="particles-js"></div>
        <main>
            <ol class="breadcrumb">
                <li><a href="/" class="link breadcrumb-subtext">Home</a></li>
                <li class="breadcrumb-subtext">&gt;</li>
                <li><a href="/works" class="link breadcrumb-subtext">Works</a></li>
                <li class="breadcrumb-subtext">&gt;</li>
                <li>Yuki&nbsp;Sakakima's&nbsp;Portfolio</li>
            </ol>
            <div class="wrapper">
                <div class="content">
                    <p class="subtext">Web&nbsp;Project</p>
                    <h2>Yuki&nbsp;Sakakima's&nbsp;Portfolio</h2>
                    <img src="/images/mockup-white.png" class="portfolio-image" alt="yuki-sakakimas-portfolio-image">
                    <div>
                        <h3>Project</h3>
                        <div class="portfolio-content content-border">
                            <p>初学者なりに初めて制作した、作品集を閲覧出来るサイトです。</p>
                            <p class="portfolio-link">&nbsp;&nbsp;&nbsp;&nbsp;<span>link.</span>&nbsp;<a href="https://yuki-sakakimas-portfolio.herokuapp.com/" target="_blank" class="link">yuki-sakakimas-portfolio.herokuapp.com</a></p>
                            <br>
                            <p>Period:&nbsp;2022.12&nbsp;~&nbsp;2023.01</p>
                            <p>Programming&nbsp;Language:&nbsp;HTML&nbsp;CSS&nbsp;JavaScript&nbsp;jQuery&nbsp;Node.js</p>
                        </div>
                        <h3>Goal</h3>
                        <div class="portfolio-content content-border">
                            <ul>
                                <li>&nbsp;-&nbsp;サイトの視認性の高さを確保、及びUIを意識したサイトを制作する。</li>
                                <li>&nbsp;-&nbsp;必要な機能が漏れ無くダブり無く存在する。</li>
                                <li>&nbsp;-&nbsp;ユーザーの目を引くようなデザインにする。</li>
                            </ul>
                        </div>
                        <h3>Design&nbsp;Strategy</h3>
                        <div class="portfolio-content content-border">
                            <p>&#x274D;&nbsp;Design&nbsp;style</p>
                            <p>1981年に発売された初代IBMをイメージしたデザインをベースに記号学、幾何学のエッセンスを掛け合わせたデザインに致しました。</p>
                            <br>
                            <p>&#x274D;&nbsp;Color</p>
                            <p>Black,&nbsp;Green(rgb(13, 203, 69)),&nbsp;Yellow,&nbsp;Gray,&nbsp;Orange(rgb(241, 134, 8)),&nbsp;White</p>
                            <br>
                            <p>&#x274D;&nbsp;Structure</p>
                            <img src="/images/structure.png" alt="structure">
                            <br><br>
                            <p>&#x274D;&nbsp;Fonts</p>
                            <p>フォントはサンセリフで統一致しました。</p>
                            <br>
                            <p>&#x274D;&nbsp;Logo</p>
                            <p>ロゴはサイトマップと私の名前の頭文字を合わせたイメージでデザイン致しました。</p>
                        </div>
                        <h3>Improvements&nbsp;to&nbsp;be&nbsp;made</h3>
                        <div class="portfolio-content">
                            <p>
                                出来る範囲でソースコードの可読性の高さやHTML、CSSの構成、記述の仕方といったところに気を配って記述したのですが、まだまだそれらの技術力の低さを痛感したので今後も学習を止める事なく継続し更なる良質なソースコードを記述出来るよう努めていきたいです。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="wrapper test">
                <p><small>Copyright&nbsp;&copy;&nbsp;2023&nbsp;Yuki&nbsp;Sakakima</small></p>
            </div>
        </footer>
        <div class="curzr" hidden></div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="/js/cursor.js"></script>
        <script src="/js/particles.js"></script>
    </body>
</html>