<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Yuki Sakakima's Portfolio - Works</title>
    <meta name="description" content="Yuki Sakakima's Portfolio" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/reset.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <!-- CDN -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  </head>
  <body>
    <header id="header">
      <div class="header-content-left">
        <a href="/"><img src="/images/icon.png" class="logo" alt="logo" /></a>
        <nav>
          <ul class="main-nav">
            <li><a class="nav-item nav-link" href="/">Home</a></li>
            <li><a class="nav-item nav-link" href="/profile">Profile</a></li>
            <li><a class="nav-item nav-link" href="/works">Works</a></li>
          </ul>
        </nav>
      </div>
      <a class="contact link" href="mailto:yuki.sakakima.work@gmail.com"
        >&lt;Click to contact&gt;</a
      >
      <a class="contact-logo" href="mailto:yuki.sakakima.work@gmail.com"
        ><span class="material-symbols-outlined">contact_mail</span></a
      >
    </header>
    <div id="particles-js"></div>
    <main>
      <ol class="breadcrumb">
        <li><a href="/" class="link breadcrumb-subtext">Home</a></li>
        <li class="breadcrumb-subtext">&gt;</li>
        <li><a href="/works" class="link breadcrumb-subtext">Works</a></li>
        <li class="breadcrumb-subtext">&gt;</li>
        <li>Yuki Sakakima's Portfolio</li>
      </ol>
      <div class="wrapper">
        <div class="content">
          <p class="subtext">Portfolio Site</p>
          <h2>Yuki Sakakima's Portfolio</h2>
          <img
            src="/images/portfolio-mockup-white.png"
            class="portfolio-image"
            alt="yuki-sakakimas-portfolio-image"
            loading="lazy"
          />
          <div>
            <h3>Project</h3>
            <div class="portfolio-content content-border">
              <p>
                作品集を閲覧出来るサイトです。<br />
                コンセプトと致しましては、初代IBMパソコンが好きだったこともあり、そのようなデザインをイメージした、ポートフォリオサイトを制作いたしました。<br />
                また、グラフィックをサイト上に追加したいと考えた際に、初代IBMパソコンのコンセプトを崩さない為に、当時のスペックで可能なグラフィックとして幾何学模様を採用いたしました。
              </p>
              <p class="portfolio-link">
                &nbsp;&nbsp;&nbsp;&nbsp;<span>link.</span>
                <a
                  href="https://yuki-sakakimas-portfolio.herokuapp.com/"
                  target="_blank"
                  class="link"
                  >yuki-sakakimas-portfolio.herokuapp.com</a
                >
              </p>
              <br />
              <p>Period: 2022.12 ~ 2023.01</p>
              <p>Programming Language: HTML CSS JavaScript Node.js</p>
            </div>
            <h3>Goal</h3>
            <div class="portfolio-content content-border">
              <ul>
                <li>
                  &nbsp;-
                  サイトの視認性の高さを確保、及びUIを意識したサイトを制作する。
                </li>
                <li>&nbsp;- 必要な機能が漏れ無くダブり無く存在する。</li>
                <li>&nbsp;- ユーザーの目を引くようなデザインにする。</li>
              </ul>
            </div>
            <h3>Design Strategy</h3>
            <div class="portfolio-content">
              <p>&#x274D; Design style</p>
              <p>
                1981年に発売された初代IBMをイメージしたデザインをベースに幾何学模様をグラフィックとして掛け合わせたデザインです。
              </p>
              <br />
              <p>&#x274D; Color</p>
              <p>
                Black, Green(rgb(13, 203, 69)), Yellow, Gray, Orange(rgb(241,
                134, 8)), White
              </p>
              <br />
              <p>&#x274D; Structure</p>
              <img src="/images/structure.png" alt="structure" loading="lazy" />
              <br /><br />
              <p>&#x274D; Fonts</p>
              <p>フォントはサンセリフで統一しております。</p>
              <br />
              <p>&#x274D; Logo</p>
              <p>
                ロゴはサイトマップと私の名前の頭文字を合わせたイメージでデザイン致しました。
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="wrapper test">
        <p><small>Copyright &copy; 2024 Yuki Sakakima</small></p>
      </div>
    </footer>
    <div class="curzr" hidden></div>
    <script src="/js/cursor.js"></script>
    <script src="/js/particles.js"></script>
  </body>
</html>
